{% if collection.description.size > 0 %}
<div class="rte">
  {{ collection.description }}
</div>
{% endif %}
{% if collection.all_tags.size > 0 %}
{% assign type_escaped = collection.products.first.type | escape %}
{% assign vendor_escaped = collection.products.first.vendor | escape %}
  <h3 {% if settings.enable_multilang %}data-translate="blogs.article.tags"{% endif %}>{{ 'blogs.article.tags' | t }}</h3>
  <ul>
    <li{% unless current_tags %} class="active"{% endunless %}>
      {% if collection.handle %}
        <a href="/collections/{{ collection.handle }}">Everything in {{ collection.title }}</a>
      {% elsif type_escaped == collection.title %}
      <a href="{{ collection.products.first.type | url_for_type }}">Everything in {{ collection.title }}</a>
      {% elsif vendor_escaped == collection.title %}
        <a href="{{ collection.products.first.vendor | url_for_vendor }}">Everything in {{ collection.title }}</a>
      {% endif %}
    </li>
    {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <li class="active-tag">
        {{ tag | link_to_remove_tag: tag }}
      </li>
      {% else %}
      <li>
        {{ tag | link_to_tag: tag }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
<p>Add some tags for a sub navigation to built itself here. Manage this list in <strong>collection-tags.liquid</strong>.</p>
{% endif %}