{% assign on_sale = false %}
{% if product.compare_at_price_min > product.price_min %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available  %}
{% assign sold_out = false %}
{% endif %}

{% assign productIndex = forloop.index | minus:1 %}
{% assign delayTime = settings.time_lazy_load | times : productIndex %}
<div class="{% if settings.product_image_border%}grid-item-border{% endif %}{% if settings.product_image_crop%} crop_image{% else %} no_crop_image{% endif %} grid-item col-xs-6 col-sm-4 {% if settings.display_sidebar_cat_page %}col-md-4{% else %}{% if product_grid == 3 %} col-md-3{% endif %}{% endif %} {% if columns %}col-lg-{{product_grid}}{% else %}col{% endif %}">
  <div class="inner product-item {% if sold_out %}sold-out{% endif %}{% if on_sale %} on-sale{% endif %} wow fadeIn" data-wow-delay="500ms" id="product-{{ product.id }}">
    <div class="inner-top">
      <div class="product-top {% unless template contains 'collection' %}product-top-not-coll{%endunless%}{% unless template contains 'product' %}product-top-not-product{%endunless%}">
        {% for tag in product.tags %}
        {% if tag contains 'Comingsoon' %}
        <div class="product-comingsoon-label">Coming Soon</div>
        {%endif%}

        {% if tag contains 'Organic-cotton' %}
        <div class="product-comingsoon-label">Organic Cotton</div>
        {%endif%}
        {%endfor%}
        <div class="product-image">        
          <a href="{{ product.url | within: collection }}" class="product-grid-image">
            {% unless image.alt contains "Women" %}            
            {% assign index = 0 %}
            {% assign found_image = false %}
            {% for image in product.images %}
            {% unless found_image %}
            {%unless collection.handle contains "accessories" %}
            {% if product.tags contains "Accessories" %}

            {% if image.alt contains "Long-front" %}
            {% assign index = forloop.index0 %}
            {% assign found_image = true %}
            {% endif %}
            {%else%}
            {% if image.alt contains "Front" %}
            {% assign index = forloop.index0 %}
            {% assign found_image = true %}
            {% endif %}
            {%endif%}
            {%endunless%}
            {% endunless %}
            {% endfor %}
            {% endunless%}
            {% assign img_url = product.images[index] | img_url: '1x1' | replace: '_1x1.', '_900x.' %}
            <img class="lazyload"
                 src="{{ product.images[index] | img_url: '900x' }}"
                 data-src="{{ img_url }}"
                 data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                 data-aspectratio="{{ product.images[index].aspect_ratio }}"
                 data-sizes="auto"
                 data-parent-fit="contain"
                 alt="{{ product.images[index].alt | escape }}">
            <div class="hover">         
              {% unless image.alt contains "Women" %}            
              {% assign index = 0 %}
              {% assign found_image = false %}
              {% for image in product.images %}
              {% unless found_image %}
              {%unless collection.handle contains "accessories" %}
              {% if product.tags contains "Accessories" %}
              {% if image.alt contains "Long-rear" %}
              {% assign index = forloop.index0 %}
              {% assign found_image = true %}
              {% endif %}
              {%else%}
              {% if image.alt contains "Rear" %}
              {% assign index = forloop.index0 %}
              {% assign found_image = true %}
              {% endif %}
              {%endif%}
              {%endunless%}
              {% endunless %}
              {% endfor %}
              {% endunless%}      
              {% assign google = 0 %}
              {% assign found_image = false %}
              {% for image in product.images %}
              {% unless found_image %}
              {% if image.alt contains "Google" %}
              {% assign google = forloop.index0 %}
              {% assign found_image = true %}
              {% endif %}
              {% endunless %}
              {% endfor %}
              {% if product.images.size <= 2 and google == false %}
              {% assign img_url = product.images[0] | img_url: '1x1' | replace: '_1x1.', '_900x.' %}
              <img class="lazyload"
                   src="{{ product.images[0] | img_url: '900x' }}"
                   data-src="{{ img_url }}"
                   data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                   data-aspectratio="{{ product.images[index].aspect_ratio }}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   alt="{{ product.images[0].alt | escape }}"> 
              {% elsif product.images.size <= 2 and google != 0 %}
              {% assign img_url = product.images[0] | img_url: '1x1' | replace: '_1x1.', '_900x.' %}
              <img class="lazyload"
                   src="{{ product.images[0] | img_url: '540x' }}"
                   data-src="{{ img_url }}"
                   data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                   data-aspectratio="{{ product.images[index].aspect_ratio }}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   alt="{{ product.images[0].alt | escape }}"> 
              {% else %}
              {% assign img_url = product.images[index] | img_url: '1x1' | replace: '_1x1.', '_900x.' %}
              <img class="lazyload"
                   src="{{ product.images[index] | img_url: '900x' }}"
                   data-src="{{ img_url }}"
                   data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                   data-aspectratio="{{ product.images[index].aspect_ratio }}"
                   data-sizes="auto"
                   data-parent-fit="contain"
                   alt="{{ product.images[index].alt | escape }}">  
              {% endif %}
            </div>
          </a>
        </div>   
        {% if on_sale or sold_out %}
        <div class="product-label">
          {% if on_sale %}
          <strong class="label" {% if settings.enable_multilang %}data-translate="products.product.sale"{% endif %}>{{ 'products.product.sale' | t }}</strong>
          {% endif %}
          {% if sold_out %}
          <strong class="sold-out-label" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}
        </div>
        {% endif %}

        <div class="product-des">
          <div class="action">
            <span class="available">
              {% for variant in product.variants %}
              {% if variant.inventory_management == "shopify" and variant.inventory_quantity > 0 %}
              {% endif %}
              {% endfor %}
            </span>
          </div>
        </div>
      </div>

      <div class="product-bottom-title">
        <div class="vendor">{{ product.vendor }}</div>
        <a class="product-title" href="{{ product.url | within: collection }}">
          {% if settings.enable_multilang %}
          <span class="lang1">{{ product.title | split: '|' | first }}</span>
          <span class="lang2">{{ product.title | split: '|' | last }}</span>
          {% else %}
          {{ product.title | split: '|' | first }}
          {% endif %}
        </a>
        <div class="price-box">
          {% if on_sale %}
          <p class="sale">
            <span class="old-price">{{ product.compare_at_price_min | money }}</span>
            <span class="special-price">{% if product.price_varies %}{% include 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
          </p>
          {% else %}
          <p class="regular-product">
            <span>{% if product.price_varies %}{% include 'varies_from' %}{% endif %}{{ product.price_min | money }}</span>
          </p>
          {% endif %}
        </div>
      </div>
      <div class="variants-wrapper clearfix {% if product.variants.size == 1 %}visuallyhidden{% endif %}">
        {% if product.variants.size > 1 and product.options.size == 1 %} 
        <label for="{{ product.options }}" style="padding-bottom:5px; margin-bottom:0px; font-size:12px; text-transform:none; font-weight:normal; display:block; color:{{ settings.text_color }};">Available {{ product.options }}s</label>
        {% endif %}
        {% if sold_out %}
        {% if product.tags contains 'Comingsoon' %}
        <div class="coming-soon-label">Coming Soon</div>
        {% else %}
        <div class="sold-out-label" {% if settings.enable_multilang %}data-translate="products.product.sold_out"{% endif %}>{{ 'products.product.sold_out' | t }}</div>
        {%endif%}
        {% endif %} 


        {% for variant in product.variants %}
        {% if variant.title == 'S/M' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" style="width:35px;" value="{{ variant.id }}">S/M</label></a>
        {% endif %}
        {% if variant.title == 'L/XL' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" style="width:35px;" value="{{ variant.id }}">L/XL</label></a>
        {% endif %}

        {% if variant.title == 'Extra Small' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" value="{{ variant.id }}">XS</label></a>
        {% endif %}
        {% if variant.title == 'Small' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" value="{{ variant.id }}">S</label></a>
        {% endif %}
        {% if variant.title == 'Medium' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" value="{{ variant.id }}">M</label></a>
        {% endif %}
        {% if variant.title == 'Large' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" value="{{ variant.id }}">L</label></a>
        {% endif %}
        {% if variant.title == 'Extra Large' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" value="{{ variant.id }}">XL</label></a>
        {% endif %}
        {% if variant.title == 'Extra Extra Large' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size" value="{{ variant.id }}">XXL</label></a>
        {% endif %}
        {% if variant.title == 'One Size' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size onesize" value="{{ variant.id }}">ONE SIZE</label></a>
        {% endif %}
        {% if variant.title == 'Size 1' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size onesize" value="{{ variant.id }}">SIZE 1</label></a>
        {% endif %}
        {% if variant.title == 'Size 2' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="show_size onesize" value="{{ variant.id }}">SIZE 2</label></a>
        {% endif %}
        {% if variant.title == '30' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">30</label></a>
        {% endif %}
        {% if variant.title == '31' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">31</label></a>
        {% endif %}
        {% if variant.title == '32' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">32</label></a>
        {% endif %}
        {% if variant.title == '33' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">33</label></a>
        {% endif %}
        {% if variant.title == '34' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">34</label></a>
        {% endif %}
        {% if variant.title == '68' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">68</label></a>
        {% endif %}
        {% if variant.title == '74' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">74</label></a>
        {% endif %}
        {% if variant.title == '80' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">80</label></a>
        {% endif %}
        {% if variant.title == '86' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">86</label></a>
        {% endif %}
        {% if variant.title == '92' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">92</label></a>
        {% endif %}
        {% if variant.title == '98' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">98</label></a>
        {% endif %}
        {% if variant.title == '104' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">104</label></a>
        {% endif %}
        {% if variant.title == '110' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">110</label></a>
        {% endif %}
        {% if variant.title == '116' and variant.inventory_quantity > 0 %}
        <a href="{{ product.url | within: collection }}"><label class="footwear_size" value="{{ variant.id }}">116</label></a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% include 'item-swatch' %}
  </div>
</div>